.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .word {
  width: 520px;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;

  margin: 4px 0;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
.App .word:first-child {
  font-weight: bold;
  color: blue;
}

.App .word .synonyms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .word .synonyms .syn {
  margin: 4px 0;
}
